[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
requests = "*"
confluent-kafka = "*"

[dev-packages]
pre-commit = "*"
ruff = "*"
mypy = "*"
pytest-repeat = "*"
pytest-mypy = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.2"
